manifest {
    mainScript = 'indrop.nf'
}
 

includeConfig "$baseDir/params.config"


process {
  queue = 'short-sl7,long-sl7,mem_256,mem_512'
  $dropTag {
      cpus=8
      memory='60G'			
  }

  $mapping {
      queue = 'mem_1tb,short-sl7'
      cpus=8
      memory='80G'	
  }
  
  $getReadLength {
      memory='1G'	
  }

  $buildIndex {
      queue = 'mem_1tb,short-sl7'
      cpus='12'
      memory='100G'
  }
  $qualimap {
      cpus='4'
      memory='20G'
  }

}


process.$dropTag.container		= '/software/bi/biocore_tools/git/singularity_conversion/singularity/dropest_latest-2018-02-23-a2fb0a3f76e4.img'
process.container		= '/software/bi/biocore_tools/git/singularity_conversion/singularity/biocorecrg_rnaseq-2018-02-08-1a58f4f1538a.img'
singularity.enabled		= true
