manifest {
    mainScript = 'indrop.nf'
}
 
includeConfig "$baseDir/params.config"

process {
  queue = 'short-sl7,long-sl7,mem_256,mem_512'
  memory='12G'
  container = 'biocorecrg/rnaseq:1.0'
  withLabel: big_mem_cpus {
        cpus = 8
        memory = '64G'
  }
 
  withLabel: indrop_multi_cpus {
        cpus=8
        memory='40G'
        container = 'biocorecrg/indrops:0.2'
  }

  withLabel: indrop_one_cpu {
        cpus=1
        memory='40G'
        container = 'biocorecrg/indrops:0.2'
  }
  
  withLabel: index_mem_cpus {
      cpus=8
      memory='100G'
      time='24h'
  }
 
}

singularity.enabled = true
singularity.cacheDir = "$baseDir/singularity"
