params {

	chunkSize = 5000000
	pairs = "$baseDir/test/*_R{1,2}_001.fastq.gz"
	barcode = "$baseDir/test/barcode.txt"
	mode = "identity"
	stats = "statistics.txt"
	junction = "GAGTGATTGCTTGTGACGCCAA"
	UMI = 100
	genome = "$baseDir/test/genome.fa.gz"
	annotation = "$baseDir/test/annotations.gtf"
	strand ="yes"
	umisize = 8
	help   		= false
	email	    = "luca.cozzuto@crg.eu"
}
